body {
    position: relative;
  }
  
  #section1 {
    padding-top: 50px;
    height: 1800px;
    color: #fff;
    background-image: url(data/Egypt.jpeg);
    background-attachment: fixed;
    background-position: center;
    zoom: 0.4;
  }
  
  #section2 {
    padding-top: 50px;
    height: 700px;
    color: #fff;
    background-color: orange;
  }
    
  #section31 {
    padding-top: 50px;
    height: 700px;
    color: #fff;
    background-color: green;
  }
  
  #section32 {
    padding-top: 50px;
    height: 700px;
    color: #fff;
    background-color: blue;
  }

  #section4 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: gold;
  }

  #section5 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: lightgray;
  }

  h1 {
    font-size: 200px;
  }

  h2 {
    font-size: 150px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 30px;
  }

  .right {
    width: 400px;
  }

  .margin {
    margin-bottom: 45px;
  }

  .carousel {
    width: 800px; 
    margin: auto; 
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar li a, .navbar .navbar-brand {
    color: orange !important;
  }
  
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: white !important;
    background-color: grey !important;
  }