body {
    position: relative;
  }
  
  #section1 {
    padding-top: 50px;
    height: 1800px;
    color: #fff;
    background-image: url(Egypt.jpeg);
    background-attachment: fixed;
    background-position: center;
    zoom: 0.4;
  }
  
  #section2 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #673ab7;
  }
  
  #section3 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #ff9800;
  }
  
  #section41 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #00bcd4;
  }
  
  #section42 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #009688;
  }

  h1 {
    font-size: 200px;
  }

  h2 {
    font-size: 150px;
  }
